html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

//   Variables
  $background: #001555;
  $light-color: #405080;
  $text-color: #ffffff;


//Body
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: $text-color;
    background-color: $background;
}


//Form style
.form {
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    height: 90%;
    justify-content: space-around;
    padding: 40px;
    
    & .form__title-label {
        margin-bottom: 10px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        & input {
            height: 40px;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;
        & input {
            height: 40px;
        }
    }

    &__batch {
        display: flex;
        flex-direction: column;
        & select {
            height: 40px;
            font-size: 15px;
            padding-left: 10px;
            }
    }

    &__radio-button {
        & input {
            margin-top: 10px;
        }
    }

    &__check-box {
        & input {
            margin-top: 10px;
        }
    }

    &__text-area {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    & button {
        width: 20%;
        padding: 10px;
        border-radius: 6px;
        border: none;
        margin-top: 20px;
        margin-inline: auto;
    }
}

